#--------------------------------------------------#
# The following was generated with gitignore.nvim: #
#--------------------------------------------------#

.config/mopidy/mopidy.conf
.nomedia
*.log.*
*.log
