#--------------------------------------------------#
# The following was generated with gitignore.nvim: #
#--------------------------------------------------#

.config/mopidy/mopidy.conf
.nomedia
*.log.*
*.log
*.bak
.local/bin/*
.config/fish/fish_variables
