[core]
restore_state = true

[mpd]
enabled = true
hostname = 127.0.0.1
port = 6600
max_connections = 20
connection_timeout = 60

[spotify]
enabled = true
username = your_username
password = your_pw
client_id = your_client_id
client_secret = your_client_secret
bitrate = 320

